@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");
.background-primary {
  background: #004587; }

* {
  box-sizing: border-box; }

.page__wrapper {
  height: 100%;
  width: 100%; }
  .page__wrapper .page {
    padding-top: 188px;
    max-width: 1240px; }
    .page__wrapper .page .main-column {
      max-width: 1240px;
      padding: 0; }

a:hover {
  text-decoration: none;
  transition: color 0.5s; }

a:active {
  text-decoration: none;
  transition: color 0.2s; }

.cta-button, .button--large, .button--medium, .button--small, .button--primary, .disabled {
  display: inline-block;
  border-radius: 3px;
  text-decoration: none;
  font-weight: 500;
  font-weight: semibold;
  color: #fff;
  border-bottom: 2px solid #ccc; }
  .cta-button:active, .button--large:active, .button--medium:active, .button--small:active, .button--primary:active, .disabled:active {
    position: relative;
    top: 2px;
    margin-bottom: 2px; }

.button--large {
  padding: 15px;
  font-size: 16px; }
  .button--large:hover {
    color: #f1f1f1; }

.button--medium {
  padding: 8px 12px 5px;
  font-size: 13px; }

.button--small {
  padding: 7px 10px 4px;
  font-size: 12px; }

.button--primary {
  width: 170px;
  height: 50px; }
  .button--primary:link, .button--primary:visited {
    background: #004587;
    border-bottom-color: #004587; }
  .button--primary:hover {
    background: #004587; }
  .button--primary:active {
    border-bottom: 0; }

.disabled:link, .disabled:visited, .disabled:hover, .disabled:active {
  background: #ccc;
  color: #727272;
  top: 0;
  border-bottom: 0;
  margin: 0;
  cursor: not-allowed;
  box-shadow: inset 0 0 0 1px #bbb; }

.icon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  margin-right: auto;
  margin-left: auto;
  width: 100%; }

.icon-caption {
  display: block;
  text-align: center;
  color: #b9b9b9;
  height: 18px;
  white-space: nowrap; }

.icon-search {
  background-image: url(../assets/desktop/search.svg);
  background-position: center center;
  background-size: cover;
  width: 28px;
  height: 28px;
  background-repeat: round; }

.icon-account {
  background-image: url(../assets/desktop/account.svg);
  height: 28px;
  background-repeat: round; }

.icon-wishlist {
  background-image: url(../assets/desktop/wishlist.svg);
  height: 28px;
  background-repeat: round; }

.icon-cart {
  background-image: url(../assets/desktop/cart.svg);
  height: 28px;
  background-repeat: round; }

@media (max-width: 992px) {
  .icon {
    background-repeat: no-repeat;
    background-position: center;
    height: 50px;
    background-size: cover; }
  .icon-search {
    background-image: url(../assets/mobile/search.svg);
    width: 50px; }
  .icon-account {
    background-image: url(../assets/mobile/account.svg);
    width: 45px; }
  .icon-wishlist {
    background-image: url(../assets/mobile/wishlist.svg);
    width: 57px; }
  .icon-cart {
    background-image: url(../assets/mobile/cart.svg);
    width: 60px; } }

#header {
  position: fixed;
  top: 0;
  width: 100%;
  background: #fff;
  z-index: 999; }

.header__wrapper {
  max-width: 1240px;
  padding: 30 0;
  z-index: 999; }
  @media (max-width: 992px) {
    .header__wrapper {
      padding-bottom: 0; } }

.header {
  width: 1240px; }
  .header .searchbar {
    width: 100%;
    border: 2px solid #b9b9b9; }
    .header .searchbar .form-control {
      padding: 0 0 0 6px;
      height: 50px;
      border: 0; }
      .header .searchbar .form-control:focus {
        outline: none; }
    .header .searchbar .input-group {
      display: table; }
    .header .searchbar .input-group-btn {
      width: 1%;
      white-space: nowrap;
      vertical-align: middle;
      display: table-cell; }
  .header .links__item {
    float: left;
    padding-right: 25px;
    cursor: pointer; }
    @media (max-width: 992px) {
      .header .links__item:active {
        background: rgba(0, 173, 255, 0.54);
        border: 1px; }
      .header .links__item:hover {
        background: rgba(0, 173, 255, 0.54);
        border: 1px; } }
  @media (max-width: 992px) {
    .header .navigation {
      background: #004587;
      height: 100px; }
      .header .navigation ul {
        width: 100%;
        float: right; }
        .header .navigation ul .links__item {
          display: inline-block;
          width: 25%;
          height: 100%;
          text-align: center;
          padding-top: 1.5em;
          padding-bottom: 1.5em; }
          .header .navigation ul .links__item:active {
            background: rgba(0, 173, 255, 0.54);
            border: 1px; }
          .header .navigation ul .links__item:hover {
            background: rgba(0, 173, 255, 0.54);
            border: 1px; } }

.categories-menu__wrapper {
  width: 100%;
  background: #004587; }
  .categories-menu__wrapper .categories-menu {
    height: 40px;
    color: black;
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto; }

.navbar-collapse {
  z-index: 99; }

.navbar-toggler-icon {
  height: 70px;
  margin-left: auto;
  margin-right: auto;
  width: 100%; }

.navbar-toggler:active {
  background: rgba(0, 173, 255, 0.54);
  border: 1px; }

.navbar-toggler:hover {
  background: rgba(0, 173, 255, 0.54);
  border: 1px; }

ff-header-navigation {
  float: left;
  z-index: 99; }
  ff-header-navigation .ffw-header-nav {
    height: 100%; }
    ff-header-navigation .ffw-header-nav .ffw-header {
      height: 100%; }
      ff-header-navigation .ffw-header-nav .ffw-header .ffw-nav-item-separator {
        width: 30px; }
      ff-header-navigation .ffw-header-nav .ffw-header .ffw-nav-item {
        padding: 5 15 5 15px;
        cursor: pointer;
        font-style: normal;
        text-decoration: inherit;
        justify-content: center; }
        ff-header-navigation .ffw-header-nav .ffw-header .ffw-nav-item:active {
          background: #a45a95;
          border: 1px;
          text-decoration: none; }
        ff-header-navigation .ffw-header-nav .ffw-header .ffw-nav-item:hover {
          background: #a45a95; }
        ff-header-navigation .ffw-header-nav .ffw-header .ffw-nav-item a {
          color: white;
          font-size: 20px;
          white-space: nowrap; }
          @media (max-width: 1200px) {
            ff-header-navigation .ffw-header-nav .ffw-header .ffw-nav-item a {
              font-size: 16px; } }
    ff-header-navigation .ffw-header-nav .ffw-body {
      position: fixed;
      filter: drop-shadow(10px 0px 4px);
      width: 100%;
      z-index: 99;
      margin-left: 100vm/2;
      margin-right: auto; }
      ff-header-navigation .ffw-header-nav .ffw-body .ffw-body-top {
        max-width: 1240px; }
      ff-header-navigation .ffw-header-nav .ffw-body .ffw-body-middle {
        max-width: 1240px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        display: block; }
        ff-header-navigation .ffw-header-nav .ffw-body .ffw-body-middle .ffw-body-center {
          width: 100%;
          max-width: 1240px; }
          ff-header-navigation .ffw-header-nav .ffw-body .ffw-body-middle .ffw-body-center .ffw-nav-group {
            padding: 15px;
            display: flex;
            justify-content: flex-start; }
            ff-header-navigation .ffw-header-nav .ffw-body .ffw-body-middle .ffw-body-center .ffw-nav-group .ffw-nav-group-caption {
              font-weight: bold;
              cursor: pointer; }
            ff-header-navigation .ffw-header-nav .ffw-body .ffw-body-middle .ffw-body-center .ffw-nav-group .ffw-nav-link {
              display: block;
              padding: 5 0px;
              cursor: pointer; }

.navbar {
  position: static;
  z-index: 99; }

ff-navigation {
  z-index: 99;
  font-family: FontAwesome;
  color: black; }
  ff-navigation .ffw-menu-items {
    z-index: 99;
    background: white; }
    ff-navigation .ffw-menu-items ff-navigation-item {
      white-space: nowrap; }
      ff-navigation .ffw-menu-items ff-navigation-item[cluster-level="0"] .ffw-item-caption .level-top {
        border-bottom: 2px solid lightgray; }
      ff-navigation .ffw-menu-items ff-navigation-item[cluster-level="0"] .ffw-item-caption .nav-link {
        font-size: 26px;
        color: black; }
      ff-navigation .ffw-menu-items ff-navigation-item[cluster-level="0"][has-subelements][selected] li {
        background-color: #484749; }
        ff-navigation .ffw-menu-items ff-navigation-item[cluster-level="0"][has-subelements][selected] li .nav-link {
          padding-left: 20px;
          color: white; }
          ff-navigation .ffw-menu-items ff-navigation-item[cluster-level="0"][has-subelements][selected] li .nav-link:before {
            float: right !important;
            content: "\f068";
            padding-right: 15px;
            color: white; }
      ff-navigation .ffw-menu-items ff-navigation-item[cluster-level="0"][has-subelements] .nav-link:before {
        float: right !important;
        content: "\f067";
        padding-right: 15px; }
      ff-navigation .ffw-menu-items ff-navigation-item[cluster-level="1"] {
        padding-left: 15px;
        color: gray; }
      ff-navigation .ffw-menu-items ff-navigation-item[cluster-level="2"] {
        padding-left: 30px; }
      ff-navigation .ffw-menu-items ff-navigation-item[cluster-level="3"] {
        padding-left: 45px; }
      ff-navigation .ffw-menu-items ff-navigation-item:not([cluster-level="0"]) .ffw-item-caption {
        padding-top: 15px; }
      ff-navigation .ffw-menu-items ff-navigation-item:not([cluster-level="0"])[has-subelements][selected] .ffw-item-caption:before {
        float: right !important;
        content: "\f068";
        padding-right: 15px;
        color: gray; }
      ff-navigation .ffw-menu-items ff-navigation-item:not([cluster-level="0"])[has-subelements]:not([selected]) .ffw-item-caption:before {
        float: right !important;
        content: "\f067";
        color: gray;
        padding-right: 15px; }
      ff-navigation .ffw-menu-items ff-navigation-item:not([cluster-level="0"]):not([has-subelements]) .ffw-item-caption:before {
        display: none; }

.slider__wrapper {
  padding: 20 0px;
  margin: 0; }
  @media (min-width: 992px) {
    .slider__wrapper {
      height: 500px; } }
  .slider__wrapper #mainSliderDesktop .carousel-control-prev {
    width: 7%; }
    .slider__wrapper #mainSliderDesktop .carousel-control-prev .carousel-control-prev-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2300' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
      z-index: 98; }
  .slider__wrapper #mainSliderDesktop .carousel-control-next {
    width: 7%; }
    .slider__wrapper #mainSliderDesktop .carousel-control-next .carousel-control-next-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2300' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
      z-index: 98; }
  .slider__wrapper #mainSliderMobile {
    max-height: 910px; }
    .slider__wrapper #mainSliderMobile .carousel-control-prev-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
      z-index: 98; }
    .slider__wrapper #mainSliderMobile .carousel-control-next-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
      z-index: 98; }

.recommended-products .recommended-products__caption {
  margin-left: auto;
  height: 50px;
  text-transform: uppercase;
  text-align: center;
  font-size: 28px;
  margin-right: auto; }

.product__wrapper {
  height: 495px;
  padding: 0; }
  @media (max-width: 992px) {
    .product__wrapper {
      padding-bottom: 20px; } }
  @media (min-width: 992px) {
    .product__wrapper .product__separator {
      width: 20px;
      height: 100%; } }
  .product__wrapper .product__tile {
    border: #b9b9b9 1px solid; }
    @media (min-width: 992px) {
      .product__wrapper .product__tile {
        width: 295px;
        height: 100%; } }
    .product__wrapper .product__tile .product__image-wrapper {
      padding: 5px; }
      .product__wrapper .product__tile .product__image-wrapper .product__links .product-add-to-wishlist {
        right: 55px;
        top: 280px;
        position: absolute; }
        .product__wrapper .product__tile .product__image-wrapper .product__links .product-add-to-wishlist:before {
          position: absolute;
          background-image: url(../assets/desktop/wishlist.svg);
          height: 40px;
          width: 32px;
          content: " ";
          background-repeat: round; }
      .product__wrapper .product__tile .product__image-wrapper .product__image {
        width: 100%;
        cursor: pointer;
        height: 295px;
        padding: 15px; }
    .product__wrapper .product__tile .product__colors {
      list-style: none;
      margin: 0;
      padding: 5 0;
      text-align: center; }
      .product__wrapper .product__tile .product__colors .product__color {
        cursor: pointer;
        padding-left: 10px;
        padding-right: 10px;
        display: inline-block; }
      .product__wrapper .product__tile .product__colors .color-swatch {
        border-radius: 50%;
        height: 20px;
        width: 20px; }
      .product__wrapper .product__tile .product__colors .swatch-blue {
        background: #0886ff; }
      .product__wrapper .product__tile .product__colors .swatch-red {
        background: #ff3546; }
      .product__wrapper .product__tile .product__colors .swatch-grey {
        background: #3c3c3b; }
    .product__wrapper .product__tile .product__info {
      text-align: center;
      line-height: 19px; }
      .product__wrapper .product__tile .product__info .product__name {
        margin: 0;
        text-transform: uppercase; }
      .product__wrapper .product__tile .product__info span {
        display: block; }
      .product__wrapper .product__tile .product__info .product__add-to-cart {
        padding-top: 15px;
        text-align: center; }
        .product__wrapper .product__tile .product__info .product__add-to-cart a {
          background-color: #004587; }
