<div class="modal fade" id="cartModal" tabindex="-1" role="dialog" aria-labelledby="cartModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg shadow" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <svg class="done" width="24px" height="24px" viewBox="0 0 24 24"><use xlink:href="#icon-done"></use></svg>
                <h5 class="modal-title h6" id="cartModalLabel">Dein Artikel wurde dem Warenkorb hinzugefügt</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body container-fluid">
                <div class="row">
                    <div class="col-lg-4 item-image">
                        <div class="product-image">
                            <img src="../../images/recommended-products/backpack.jpg" alt="EVOC - Line 28 - Skitourenrucksack"/>
                        </div>
                    </div>
                    <div class="col-lg-6 item-details">
                        <h1 class="product__name">EVOC - Line 28 - Skitourenrucksack</h1>
                        <div class="product__price">
                            <div class="price-box">
                                <span class="regular-price">
                                    <span class="price">€ 219,95</span>
                                </span>
                                <span class="vat-hint">inkl. MwSt.</span>
                            </div>
                        </div>

                        <div class="btn-group">
                            <button type="button" class="btn btn-secondary">Weiter einkaufen</button>
                            <a href="/cart.html" class="btn btn-success">Zur Kasse</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="modal-banner">
                    <img src="../../images/zelten.png" alt="Zelten"/>
                    <div class="banner-body">
                        <div>Zelte für den Outdoor-Einsatz</div>
                        <a href="#" class="banner-cta">Jetzt entdecken</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
