<main class="product">
    <div class="container py-4">
        <form>
            <div class="row">
                <section class="col-md-6 product__shop order-last">
                    <h1 class="product__name">EVOC - Line 28 - Skitourenrucksack</h1>

                    <div class="product__rating order-md-first" data-rating="4">
                        <svg class="rating-star" viewBox="0 0 16.469 15.969"><use xlink:href="#icon-star"></use></svg>
                        <svg class="rating-star" viewBox="0 0 16.469 15.969"><use xlink:href="#icon-star"></use></svg>
                        <svg class="rating-star" viewBox="0 0 16.469 15.969"><use xlink:href="#icon-star"></use></svg>
                        <svg class="rating-star" viewBox="0 0 16.469 15.969"><use xlink:href="#icon-star"></use></svg>
                        <svg class="rating-star" viewBox="0 0 16.469 15.969"><use xlink:href="#icon-star"></use></svg>
                        <span class="rating-reviews">57 Reviews</span>
                    </div>

                    <div class="product__price">
                        <div class="price-box">
                            <span class="regular-price">
                                <span class="price">€ 219,95</span>
                            </span>
                            <span class="vat-hint">inkl. MwSt.</span>
                        </div>
                    </div>
                    <div class="availability">
                        <div class="delivery-time">Lieferzeit: 1-3 Werktage</div>
                        <div class="stock-qty">Nur noch einmal auf Lager!</div>
                    </div>

                    <div class="product__options">
                        <div class="row opt-product-qty">
                            <label for="product-qty" class="col-sm-2 col-form-label">Menge</label>
                            <div class="col-sm-10">
                                <select name="qty" id="product-qty" class="form-control">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                        </div>
                        <div class="row opt-product-color">
                            <label for="product-color" class="col-sm-2 col-form-label">Farbe</label>
                            <div class="col-sm-10">
                                <select name="qty" id="product-color" class="form-control">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                        </div>
                        <div class="row opt-product-size">
                            <label for="product-size" class="col-sm-2 col-form-label">Größe</label>
                            <div class="col-sm-10">
                                <select name="qty" id="product-size" class="form-control">
                                    <option>20 l</option>
                                    <option>25 l</option>
                                    <option>30 l</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="product__addtocart btn-group">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#cartModal">In den Warenkorb</button>
                        <button class="btn btn-primary btn-wishlist">
                            <svg width="32px" height="32px" viewBox="0 0 26 23.031"><use xlink:href="#icon-heart"></use></svg>
                        </button>
                    </div>
                </section>
                <section class="col-md-6 product__gallery">
                    <div class="product__gallery__big-image product-image">
                        <img src="../images/recommended-products/backpack.jpg" alt="EVOC - Line 28 - Skitourenrucksack" />
                    </div>
                    <div class="row gallery-thumbnails">
                        <div class="col"><div class="product-image"><img src="../images/recommended-products/backpack.jpg" alt="EVOC - Line 28 - Skitourenrucksack" /></div></div>
                        <div class="col"><div class="product-image"><img src="../images/recommended-products/boots.jpg" alt="EVOC - Line 28 - Skitourenrucksack" /></div></div>
                        <div class="col"><div class="product-image"><img src="../images/recommended-products/jacket.jpg" alt="EVOC - Line 28 - Skitourenrucksack" /></div></div>
                        <div class="col"><div class="product-image"><img src="../images/recommended-products/sweater.jpg" alt="EVOC - Line 28 - Skitourenrucksack" /></div></div>
                    </div>
                </section>
            </div>
        </form>
    </div>
    <section class="product__details">
        <h3 class="heading">Produktbeschreibung</h3>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p>Im Backcountry zählen Funktionalität und Ergonomie und je weiter man sich von der
                        Piste entfernt, desto höher werden die Ansprüche an eine leichte Ausrüstung. Der
                        Evoc Line 28 ist sehr vielseitig einsetzbar. Beim entspannten Tag auf und neben der
                        Piste, ebenso wie bei größeren Abstechern ins Gelände.</p>
                    <p>Kern des durchdachten Ski- und Snowboardrucksack ist das Hauptfach. Darin ist die
                        Ausrüstung für den Tag bequem verstaut. Zusätzlich hat der Line 28 ein Fach für die
                        Lawinenausrüstung (mit Notfallplan) und ein Fleece-gefüttertes Schneebrillenfach. In
                        der Hüftgurttasche sind benötigte Kleinteile gut aufgehoben, zusätzliche Ausrüstung
                        lässt sich in den beiden elastischen Seitenfächern oder an den Gurtbandschlaufen
                        verstauen. Die Schlauchführung für das Trinksystem ist isoliert im Schulterriemen,
                        so bleibt der Flüssigkeitsnachschub auf Tour auch bei tiefen Temperaturen
                        gewährleistet.</p>
                    <p>Für den Aufstieg lassen sich die Ski an den Seiten oder diagonal über die Front, das
                        Snowboard auf der Vorderseite befestigen. Die Snowboard- bzw. Schneeschuhalterung
                        lässt sich dank der soliden Aluminiumschnallen auch mit Handschuhen bequem
                        bedienen.</p>
                    <p>Ein durchdachter, sehr robuster und hochwertiger Rucksack mit großem Einsatzbereich.
                        Das ist der Evoc Line 28.</p>
                </div>
                <div class="col-md-6">
                    <dl class="attributes">
                        <dt class="attr-title">Volumen</dt>
                        <dd class="attr-value">28 l</dd>
                        <dt class="attr-title">Konstruktion</dt>
                        <dd class="attr-value">Ski- und Snowboardrucksack</dd>
                        <dt class="attr-title">Einsatzbereich</dt>
                        <dd class="attr-value">Snowboarden, Backcountry; Ski- und Snowboard-Touren</dd>
                        <dt class="attr-title">Material</dt>
                        <dd class="attr-value">Nylon 210D Ripstop; PU-beschichtet (100% Polyamid), Air Mesh, Neopren</dd>
                        <dt class="attr-title">Tragesystem</dt>
                        <dd class="attr-value">Brust- und Hüftgurt</dd>
                        <dt class="attr-title">Trinksystem</dt>
                        <dd class="attr-value">kompatibel bis 3L Volumen, isoliert</dd>
                        <dt class="attr-title">Extra-Fächer</dt>
                        <dd class="attr-value">Sonnenbrillenfach, Fach für Sicherheitsausrüstung, Kleinteilefach im Hüftgurt</dd>
                        <dt class="attr-title">Gewicht</dt>
                        <dd class="attr-value">1140 g</dd>
                        <dt class="attr-title">Extras</dt>
                        <dd class="attr-value">Signalpfeife, Notfallplan, Eisgerätschlaufen</dd>
                        <dt class="attr-title">Art.Nr.</dt>
                        <dd class="attr-value" itemprop="sku">502-0698</dd>
                    </dl>
                </div>
            </div>
        </div>
    </section>
</main>
