.search-result-header {
  &__breadcrumbs {
    color: black;
    font-weight: bolder;
    font-size: calc(1em + 0.01vw);
    @include media-breakpoint-down(md) {
      text-align: center;
    }
  }

  .product-counter {
    font-weight: normal;
  }
}

