.banner {
  max-width: 1140px;
  height: 280px;
  margin: 0;
  background: url("../assets/desktop/campaign-banner.png") round;
  @media (max-width: 992px) {
    font-size: 18px;
    width: 100%;
    height: 350px;
    background: url("../assets/mobile/campaign-banner.jpg");
    .banner_text {
      padding: 0;
    }
  }
}
