.categories-menu {
  height: 40px;
  color: black;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;

  &__wrapper {
    width: 100%;
    background: $bg-navy;
  }

  &--mobile {
    width: 100%;
    line-height: normal;
    overflow-y: scroll;
    height: 100vh;
  }
}

.navbar-toggler {
  &:active, &:hover {
    background: rgba(0, 173, 255, .54);
    border: 1px
  }

  &-icon {
    height: 70px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
}
