.categories-menu__wrapper {
  width: 100%;
  background: $background-navy;

  .categories-menu {
    height: 40px;
    color: black;
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
  }
}

.navbar-collapse {
  z-index: 99;
}

.navbar-toggler-icon {
  height: 70px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.navbar-toggler {
  &:active {
    background: rgba(0, 173, 255, .54);
    border: 1px
  }

  &:hover {
    background: rgba(0, 173, 255, .54);
    border: 1px
  }
}
