* {
  box-sizing: border-box;
}

body {
  color: $text-primary;
  font-family: "Open Sans", sans-serif;
}

.page__wrapper {
  height: 100%;
  width: 100%;
}

.page {
  margin-top: 220px;

  @include media-breakpoint-up(lg) {
    margin-top: 192px;
  }
}

.main-column {
  max-width: 1140px;
}

a {
  &:hover {
    text-decoration: none;
    transition: color 0.5s;
  }

  &:active {
    text-decoration: none;
    transition: color 0.2s;
  }
}

.cta-button {
  display: inline-block;
  border-radius: 3px;
  text-decoration: none;
  font-weight: $font-weight-bold;
  color: #fff;
  border-bottom: 2px solid #ccc;
  transition: background 0.12s ease;

  &:active {
    position: relative;
    top: 2px;
    margin-bottom: 2px;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.42);
  }
}

.button--large {
  @extend .cta-button;
  padding: 15px;
  font-size: 16px;

  &:hover {
    color: #f1f1f1;
  }
}

.button--medium {
  @extend .cta-button;
  padding: 8px 12px 5px;
  font-size: 13px;
}

.button--small {
  @extend .cta-button;
  padding: 7px 10px 4px;
  font-size: 12px;
}

.btn-primary {
  @include button-variant($bg-navy, $bg-navy);
}

.button--primary {
  width: 170px;
  height: 50px;
  @extend .cta-button;

  &:link, &:visited {
    background: $background-navy;
    border-bottom-color: $background-navy-rgba;
  }

  &:hover {
    background: $background-navy;
  }

  &:active {
    border-bottom: 0;
  }
}

.disabled {
  @extend .cta-button;

  &:link, &:visited, &:hover, &:active {
    background: #ccc;
    color: #727272;
    top: 0;
    border-bottom: 0;
    margin: 0;
    cursor: not-allowed;
    box-shadow: inset 0 0 0 1px #bbb;
  }
}

.price {
  white-space: nowrap;
}

.svgsprite-inline {
  display: none;
}

.modal {
  &-backdrop {
    background: #fff;
  }

  &-content, &-header, &-footer {
    border: 0;
    border-radius: 0;
  }
}
