* {
  box-sizing: border-box;
}

.page__wrapper {
  height: 100%;
  width: 100%;

  .page {
    padding-top: 188px;
    max-width: 1240px;
    .main-column {
      max-width: 1240px;
    }
  }
}

a {
  &:hover {
    text-decoration: none;
    transition: color 0.5s;
  }

  &:active {
    text-decoration: none;
    transition: color 0.2s;
  }
}
