* {
  box-sizing: border-box;
}

.page--wrapper {
  height: 100%;
  width: 100%;
  .column--main {
    max-width: 1240px;
  }
}

a {
  &:hover {
    text-underline: none;
    text-decoration: none;
    transition: color 0.5s;
  }

  &:active {
    text-underline: none;
    text-decoration: none;
    transition: color 0.2s;
  }
}