ff-header-navigation {
  .ffw-header-nav {
    height: 100%;

    .ffw-header {
      height: 100%;

      .ffw-nav-item-separator {
        @media (max-width: 1200px) {
          width: 10px;
        }
      }

      .ffw-nav-item {
        cursor: pointer;
        font-style: normal;
        text-decoration: inherit;
        justify-content: space-around;
        flex: 1;

        a {
          display: block;
          padding: 5px 15px;
          text-align: center;
        }

        &:active {
          background: $category-menu-highlight;
          border: 1px;
          text-decoration: none;
        }

        &:hover {
          background: $category-menu-highlight;
        }

        a {
          color: white;
          font-size: 20px;
          white-space: nowrap;

          @media (max-width: 1200px) {
            font-size: 16px;
          }
        }
      }
    }

    .ffw-body {
      position: fixed;
      filter: drop-shadow(1px 0px 1px);
      width: 100%;
      z-index: 99;
      margin-left: 100vm/2;
      margin-right: auto;

      .ffw-body-top {
        max-width: 1140px;
      }

      .ffw-body-middle {
        max-width: 1140px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        display: block;

        .ffw-body-center {
          width: 100%;
          max-width: 1140px;

          .ffw-nav-group {
            padding: 15px;
            display: flex;
            justify-content: flex-start;

            .ffw-nav-group-caption {
              font-weight: $font-weight-bold;
              cursor: pointer;
            }

            .ffw-nav-link {
              display: block;;
              padding: 5 0px;
              cursor: pointer;

              &:hover {
                color: $bg-navy;
                font-weight: $font-weight-bold;
              }
            }

            .see-all-link {
              cursor: pointer;

              &::before {
                content: '>> ';
              }

              &:hover {
                color: $bg-navy;
                font-weight: $font-weight-bold;
              }
            }
          }
        }
      }
    }
  }
}

