ff-navigation {
  z-index: 99;
  color: black;
  display: block;
  @include media-breakpoint-up(lg) {
    display: none;
  }

  .ffw-menu-items {
    z-index: 99;
    background: white;
    height: 60vh;
    overflow: auto;
    ff-navigation-item {
      white-space: nowrap;
      &[cluster-level="0"] {
        border-bottom: 2px solid $bg-light-gray;

        & .ffw-item-caption {
          margin: auto 0;
          padding-left: $padding-standard/2;

          & .nav-link {
            font-size: 1.4em;
            color: black;
          }
        }

        &[has-subelements] {
          &[selected] {
            & .ffw-item-caption {
              padding-left:0;
            }
            & li {
              background-color: $text-primary;

              & .nav-link {
                padding-left:$padding-standard;
                color: white;

                &:before {
                  content: "\f068";
                  padding-right: $padding-standard;
                  color: white;
                }
              }
            }
          }

          & .nav-link {
            &:before {
              float: right;
              font-family: FontAwesome;
              content: "\f067";
              padding-right: $padding-standard;
            }
          }
        }
      }

      @for $i from 1 through 4 {
        &[cluster-level="#{$i}"]{
          margin-left: .9rem * $i;
        }
      }

      &:not([cluster-level="0"]) {
        & .ffw-item-caption {
          padding-top:$padding-standard;
          padding-bottom: $padding-standard;
          color:$text-primary;
        }

        &[has-subelements] {
          &[selected] {
            & .ffw-item-caption:before {
              float: right;
              font-family: FontAwesome;
              content: "\f068";
              padding-right: $padding-standard;
              color: $text-primary;
            }
          }

          &:not([selected]) {
            & .ffw-item-caption:before {
              float: right;
              font-family: FontAwesome;
              content: "\f067";
              color: $text-primary;
              padding-right: 15px;
            }
          }
        }

        &:not([has-subelements]) {
          & .ffw-item-caption:before {
            display: none;
          }
        }
      }
    }
  }
}
