.header {
  width: 100%;
  padding: 2rem 0;
  z-index: 999;
  margin: auto;
  @include media-breakpoint-down(md) {
    padding-bottom: 0;
  }

  &__wrapper {
    position: fixed;
    top: 0;
    width: 100%;
    background: white;
    z-index: 999;
    padding: 0
  }
}

.logo {
  text-align: center;

  &__wrapper {
    padding-bottom: $padding-standard;
  }
}

.navigation {
  &__wrapper {
    display: block;
    padding: 0;
  }
  height: 100%;
  margin-left: 0;
  margin-right: 0;
}

.searchbar {
  width: 100%;
  border: 2px solid $bg-light-gray;

  &__wrapper {
    display: inline;

    & form {
      display: inline;
    }

    @include media-breakpoint-down(md) {
      padding-left: 0;
      padding-right: 0;
      height: 1vh;
      order: 11;
    }
  }

  & .input-group {
    display: table;

    & .form-control {
      padding-left: $padding-standard;
      height: 50px;
      border: 0;

      &:focus {
        outline: none;
      }
    }

    & .input-group-btn {
      width: 1%;
      white-space: nowrap;
      vertical-align: middle;
      display: table-cell;

      @include media-breakpoint-down(md) {
        display: none;
      }
    }
  }
}
.links {
  &__wrapper {
    padding:0;
  }
  list-style: none;
  float:right;
  padding-left:0;
  display: inline-block;
  text-align:center;

  &__item {
    float: left;
    cursor: pointer;

    &.search {
      @include media-breakpoint-up(lg) {
        display: none;
      }
    }
  }
}
@include media-breakpoint-down(md) {
  .navigation__wrapper {
    background: $bg-navy;
    height: 100px;
    padding-left: 0;
    padding-right: 0;

    & ul {
      width: 100%;
      float: right;

      & .links__item {
        display: inline-block;
        width: 25%;
        height: 100%;
        text-align: center;
        padding-top: 1.5em;
        padding-bottom: 1.5em;

        &:active {
          background: rgba(0, 173, 255, 0.54);
        }

        &:hover {
          background: rgba(0, 173, 255, 0.54);
        }
      }
    }
    & .navbar {
      &-nav {
        margin: 1em;
      }
      &-toggler {
        padding: .4em;
        height: 100%;
        &:active, &:hover {
          background: $bg-light-blue;
        }

        &-icon {
          background-image: url(../assets/icons/white/navicon.svg);
          margin-left: auto;
          margin-right: auto;
          height: 100%;
          width: 100%;
        }

        @include media-breakpoint-up(lg) {
          display: none;
        }
      }
    }
  }
}
