.icon {
  display: inline-block;
  height: 50px;
  width: 50px;
  background: transparent none no-repeat 50% 50%;
  background-size: contain;

  &-caption {
    display: block;
    text-align: center;
    color: #b9b9b9;
    height: 18px;
    white-space: nowrap;
  }

  @each $icon in 'search', 'account', 'wishlist', 'cart' {
    &-#{$icon} {
      background-image: url("../assets/mobile/#{$icon}.svg");
    }
  }

  @include media-breakpoint-up(lg) {
    height: 28px;
    width: 28px;

    @each $icon in 'search', 'account', 'wishlist', 'cart' {
      &-#{$icon} {
        background-image: url("../assets/desktop/#{$icon}.svg");
      }
    }
  }
}
