.icon {
  display: inline-block;
  width: 1.875rem;
  height: 1.875rem;
  background: transparent none no-repeat 50% 50%;
  background-size: contain;

  &-search {
    background-image: url("../assets/desktop/search.svg");
  }
}
