.recommended-products__wrapper {
  .recommended-products-caption {
    margin-left: auto;
    height: 50px;
    text-transform: uppercase;
    text-align: center;
    font-size: 28px;
    margin-right: auto;
  }
  .recommended-products-tile {
    padding-left: 0;
    padding-right: 20px;
    max-width: 100%;
    .recommended-product-links {
      .recommended-product-add-to-wishlist {
        right: 45px;
        bottom: 35px;
        position: absolute;
        &:before {
          position: absolute;
          background-image: url(../assets/desktop/wishlist.svg);
          height: 40px;
          width: 32px;
          content: " ";
          background-repeat: round;
        }
      }
    }

    img {
      max-width: 100%;
    }
  }
  @media (max-width: 992px) {
    padding-bottom: 20px;
  }
}
