.search-result-header {
  margin-top: 1rem;
  margin-bottom: 1rem;

  @at-root {
    .filter-button-show {
      display: none;

      .collapsed & {
        display: block;
      }
    }

    .filter-button-hide {
      display: block;

      .collapsed & {
        display: none;
      }
    }
  }
}

.search-result {
  &__products {
    padding-left: 0;
    padding-right: 0;

    .product {
      &__info h3 {
        min-height: 60px;
      }

      &__price {
        min-height: 30px;
      }
    }
  }
}
