.search-result-header {
  padding-top: 1em;
  width: 100%;
  margin: 0;

  &__filter-button {
    display: block;

    &.collapsed {
      & .filter-button-show {
        display: block;
      }

      & .filter-button-hide {
        display: none;
      }
    }

    & .filter-button-show {
      display: none;
    }

    & .filter-button-hide {
      display: block;
    }
  }
}

.search-result {
  padding-top: 20px;

  &__products {
    @include media-breakpoint-down(md) {
      padding-top: 1em;
    }
    padding-left: 0;
    padding-right: 0;

    .product {
      &__info h3{
        min-height: 60px;
      }

      &__price {
        min-height: 30px;
      }
    }
  }

  &__filters {
    padding:0;
    & collapsing {
      position: relative;
      height: 0;
      overflow: hidden;
      -webkit-transition-property: height, visibility;
      transition-property: height, visibility;
      -webkit-transition-duration: 1.35s;
      transition-duration: 1.35s;
      -webkit-transition-timing-function: ease;
      transition-timing-function: ease;
    }
  }
}
