.carousel {
  &-inner {
    height: 600px;
  }

  &-control {
    width: 10%;
  }

  &-item {
    background: transparent url("../assets/mobile/slider.jpg") no-repeat 50% 0;
    background-size: cover;
  }

  @include media-breakpoint-up(lg) {
    &-inner {
      height: 460px;
    }

    &-item {
      background: #fafaf6 url("../assets/desktop/slider.png") no-repeat 100px 0;
    }
  }
}

.slider {
  &__wrapper {
    padding-top: $padding-standard;
  }

  @include banner(#fff);
  font-size: 2.5rem;

  @include media-breakpoint-up(lg) {
    font-size: 3.5rem;
    line-height: 1em;
    padding: 0 50% 0 10%;
    color: $text-primary;

    &__cta, &__cta:hover {
      color: $text-primary;
      border-color: $text-primary;
    }
  }
}
