.search-result-header__sortbox {
  color: black;
  text-align: end;
  @include media-breakpoint-down(md) {
    text-align: center;
  }

  .sortbox {
    font-size: calc(1em + 0.01vw);
    color: $text-primary;
    width: 100%;
    margin: 0;
    border: 1px solid $bg-light-gray;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url(../assets/icons/black/angle-down.svg);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: 1em auto, 100%;

    &[opened] {
      background-image: url(../assets/icons/black/angle-up.svg);
      box-shadow: 0 5px 15px $bg-light-gray;
    }

    &::-ms-expand {
      display: none;
    }

    &__caption {
      font-size: inherit;
      white-space: nowrap;
      margin: auto;
      @include media-breakpoint-down(md) {
        text-align: center;
      }
    }

    &__wrapper {
      text-align: left;
      padding: 0;
      font-size: inherit;
      @include media-breakpoint-down(md) {
        padding-bottom: 1em;
      }
    }

    .ffw-selected-container {
      padding: 0.4em;
    }

    .ffw-dropdown-container {
      width: 100%;

      &:not([ffw-closed]) {
        ff-sortbox-item {
          padding: 0.4em;
          margin: 0;
          border: 1px solid $bg-light-gray;
          background: #fff;

          &:hover {
            color: white;
            background-color: $background-navy;
          }

          &:not(:last-child) {
            border-bottom: 0;
          }
        }
      }
    }
  }
}
