.search-result-header {
  text-align: center;
  @include media-breakpoint-up(lg) {
    text-align: inherit;
  }

  &__breadcrumbs {
    font-weight: $font-weight-bold;
  }

  .product-counter {
    font-weight: normal;
  }
}
