ff-suggest {
    color: black;
}

ff-suggest .ffw-suggestContainerWrapper {
    width: 100%;
    -webkit-box-shadow: 0 0 0.3125em rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 0.3125em rgba(0, 0, 0, 0.2);

    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    border-right: 1px solid #eee;
}

ff-suggest .ffw-suggestContainer {
    margin-top: -2px;
}

ff-suggest h2 {
    font-size: 1.7rem;
}

ff-suggest section .ffw-highlight-suggest-item {
    background-color: #2b81af;
    border: 1px solid black;
    color: white;
}

ff-suggest section {
    display: flex;
    flex-direction: column;
}

.productsContainer {
    display: flex;
    flex-direction: row;
    border-left: 1px solid #eee;
    flex-wrap: wrap
}

.ffw-highlight-suggest-item {
    background-color: white;
    border: none !important;
}

.containerCaption {
    font-weight: bold;
}

ff-suggest section [data-container] {
    margin: 15px 30px;
}

ff-suggest section {
    padding-bottom: 15px;
}

ff-suggest-item {
    cursor: pointer;
    padding: 2px;
}

ff-suggest-item[type="productName"] {
    flex: 1;
    padding: 15px;
    border-top: 1px solid #eee;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    /* margin: 8px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-width: 220px;
    max-width: 20%;
}

ff-suggest-item[type="productName"] .product-price {
    font-weight: bold;
}

ff-suggest-item[type="productName"] img {
    height: 180px;
}

span.ffw-query {
    font-weight: bold;
    color: #0b97c4;
}
