@mixin responsive-image($padding-bottom: 100%) {
  width: 100%;
  padding-bottom: $padding-bottom;
  position: relative;

  img {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

@mixin scrollbar() {
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  ::-webkit-scrollbar-thumb {
    background: #f1f1f1;
  }
}

@mixin banner($text-color: #fff) {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-transform: uppercase;
  color: $text-color;
  text-align: center;
  font-size: 2rem;

  @include media-breakpoint-up(lg) {
    font-size: 3rem;
  }

  &__text {
    margin-bottom: 1.5rem;
  }

  &__cta {
    @include button-size(1rem, 2rem, 2rem, 2.5rem, 0);
    @include button-outline-variant($text-color, $text-color, transparentize($text-color, .9));
    border-width: 2px;
    border-style: solid;
  }
}
