<footer class="page-footer">
    <div class="page-footer__container">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 order-md-last col-lg-4 offset-lg-2">
                    <h4>Join us now!</h4>
                    <form class="newsletter-subscription">
                        <div class="input-group">
                            <input class="form-control" type="search" placeholder="Deine E-Mail Adresse"
                                   aria-label="Deine E-Mail Adresse">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="submit">Anmelden</button>
                            </div>
                        </div>
                    </form>
                    <div class="social-links">
                        <ul class="list-unstyled row justify-content-around">
                            <li class="facebook"><a href="https://de-de.facebook.com/eCommerce.search/" target="_blank" title="Facebook">Facebook</a></li>
                            <li class="instagram"><a href="https://www.instagram.com/factfinder_ecommerce/" target="_blank" title="Instagram">Instagram</a></li>
                            <li class="youtube"><a href="https://www.youtube.com/channel/UCj5w35dg6mRwYyXGb4vUCTQ" title="Youtube">Youtube</a></li>
                            <li class="twitter"><a href="https://twitter.com/fact_finder" target="_blank" title="Twitter">Twitter</a></li>
                        </ul>
                    </div>
                </div>
                <div class="service-nav col-md-6">
                    <div class="row">
                        <div class="card col-md-4">
                            <div class="card-header text-truncate">Informationen</div>
                            <div class="card-body">
                                <ul class="list-unstyled">
                                    <li><a href="#">Kontakt</a></li>
                                    <li><a href="#">Über uns</a></li>
                                    <li><a href="#">Service</a></li>
                                    <li><a href="#">FAQ</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card col-md-4">
                            <div class="card-header text-truncate">Top Kategorien</div>
                            <div class="card-body">
                                <ul class="list-unstyled">
                                    <li><a href="#">Women</a></li>
                                    <li><a href="#">Men</a></li>
                                    <li><a href="#">Products A-Z</a></li>
                                    <li><a href="#">Our Brands</a></li>
                                    <li><a href="#">Buy a Gift Card</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card col-md-4">
                            <div class="card-header text-truncate">Top Marken</div>
                            <div class="card-body">
                                <ul class="list-unstyled">
                                    <li><a href="#">Cooperation</a></li>
                                    <li><a href="#">Partners</a></li>
                                    <li><a href="#">Terms &amp; Conditions</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                    <li><a href="#">Address</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row legal-info my-3">
            <div class="col-lg-8 payment-methods">
                <span>Zahlungsarten:</span>
                <ul class="list-unstyled">
                    <li><span class="payment-methods--logo paypal">PayPal</span></li>
                    <li><span class="payment-methods--logo mastercard">MasterCard</span></li>
                    <li><span class="payment-methods--logo visa">Visa</span></li>
                </ul>
            </div>
            <div class="col-lg-4 copyright">Copyright 2019 by <a href="https://web-components.fact-finder.com/">Omikron
                Data Quality GmbH</a></div>
        </div>
    </div>
</footer>
